synthetic-data-generator/n8n-workflows/rag-correct-connections.json
{
  "name": "RAG - Correct Connections",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-rag-correct",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst text = input.chatInput || input.topicInput || input.prompt || input.query || 'test';\nreturn [{ json: { text, sessionId: input.sessionId || 'test-001' } }];"
      },
      "id": "prepare",
      "name": "Prepare Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "model": "all-minilm:latest",
        "text": "={{$json.text}}"
      },
      "id": "embeddings",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-credentials",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || '';\nreturn [{ json: { text } }];"
      },
      "id": "document",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getMany",
        "collection": "successful_schemas",
        "limit": 3
      },
      "id": "qdrant",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.qdrantVectorStore",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-credentials",
          "name": "Qdrant API"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={\n  \"status\": \"success\",\n  \"inputText\": $('Prepare Text').item.json.text,\n  \"searchResults\": $json,\n  \"sessionId\": $('Prepare Text').item.json.sessionId\n}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text": {
      "main": [
        [
          {
            "node": "Embeddings Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "version": 2
}
