synthetic-data-generator/n8n-workflows/rag-simple-native.json
{
  "name": "RAG - Simple Native Qdrant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-rag-simple",
        "responseMode": "responseNode"
      },
      "id": "Webhook_Trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst text = input.chatInput ?? input.topicInput ?? input.prompt ?? input.query ?? \"\";\nreturn [{ json: { text, sessionId: input.sessionId ?? 'test-001', domain: input.domain ?? 'general', original: input } }];"
      },
      "id": "Prepare_Search_Text",
      "name": "Prepare Search Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        320
      ]
    },
    {
      "parameters": {
        "model": "all-minilm:latest",
        "text": "={{$json.text}}"
      },
      "id": "Embeddings_Ollama",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        820,
        320
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-credentials",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || '';\nreturn [{ json: { text } }];"
      },
      "id": "Prepare_Document",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        320
      ]
    },
    {
      "parameters": {
        "operation": "getMany",
        "collection": "successful_schemas",
        "limit": 3
      },
      "id": "Qdrant_Search",
      "name": "Search Qdrant",
      "type": "@n8n/n8n-nodes-langchain.qdrantVectorStore",
      "typeVersion": 1,
      "position": [
        1380,
        320
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-credentials",
          "name": "Qdrant API"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={\n  \"vectorLength\": $('Embeddings Ollama').item.json.embedding ? $('Embeddings Ollama').item.json.embedding.length : 0,\n  \"searchResults\": $json,\n  \"sessionId\": $('Prepare Search Text').item.json.sessionId\n}"
      },
      "id": "Respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1660,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Search Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Search Text": {
      "main": [
        [
          {
            "node": "Embeddings Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Search Qdrant",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "version": 2
}
