synthetic-data-generator/n8n-workflows/rag-minimal-working.json
{
  "name": "RAG - Minimal Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-rag-minimal",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json || {};\nconst text = input.chatInput || input.topicInput || input.prompt || input.query || 'test';\nreturn [{ json: { text, sessionId: input.sessionId || 'test-001' } }];"
      },
      "id": "prepare",
      "name": "Prepare Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "model": "all-minilm:latest",
        "text": "={{$json.text}}"
      },
      "id": "embeddings",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-credentials",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={\n  \"status\": \"success\",\n  \"text\": $('Prepare Text').item.json.text,\n  \"embeddingLength\": $json.embedding ? $json.embedding.length : 0,\n  \"sessionId\": $('Prepare Text').item.json.sessionId\n}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "version": 2
}
