synthetic-data-generator/n8n-workflows/rag-test-ollama.json
{
  "name": "RAG - Test Ollama Only",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-ollama-only",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "model": "all-minilm:latest",
        "text": "={{$json.chatInput || 'test text'}}"
      },
      "id": "embeddings",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-credentials",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={\n  \"status\": \"success\",\n  \"input\": $('Webhook').item.json,\n  \"embeddingOutput\": $json,\n  \"embeddingLength\": $json.embedding ? $json.embedding.length : 'no embedding found'\n}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Embeddings Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "version": 2
}
