n8n-workflows/debug-embedding.json
{
  "name": "Debug Embedding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "debug-embedding",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [50, 300],
      "webhookId": "debug-embedding-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'all-minilm', prompt: 'test' } }}",
        "options": {}
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const embeddingData = $input.item.json;\nreturn [{\n  json: {\n    success: true,\n    rawResponse: embeddingData,\n    hasEmbedding: embeddingData.embedding ? true : false,\n    embeddingLength: embeddingData.embedding ? embeddingData.embedding.length : 0,\n    keys: Object.keys(embeddingData),\n    embeddingType: embeddingData.embedding ? typeof embeddingData.embedding : 'undefined'\n  }\n}];"
      },
      "id": "debug-embedding",
      "name": "Debug Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Debug Embedding').item.json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Debug Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Embedding": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
