n8n-workflows/domain-manager-simple-native.json
{
  "name": "Domain Manager - Simple Native",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manage-domain-simple-native",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "manage-domain-simple-native"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from webhook\nconst body = $input.item.json.body;\nconst { domain, schema, action } = body;\n\n// Generate a unique ID for this domain\nconst domainId = `domain_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Prepare the document for Qdrant Vector Store\nconst document = {\n  pageContent: `Domain: ${domain}\\nSchema: ${JSON.stringify(schema, null, 2)}\\nAction: ${action}`,\n  metadata: {\n    domain: domain,\n    action: action,\n    timestamp: new Date().toISOString(),\n    schema_fields: schema.length,\n    user_prompt: domain,\n    schema: JSON.stringify(schema)\n  }\n};\n\nreturn {\n  json: {\n    document: document,\n    domainId: domainId,\n    userPrompt: domain,\n    action: action\n  }\n};"
      },
      "id": "prepare-document",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insertDocuments",
        "collectionName": "successful_schemas",
        "documentLoader": {
          "loader": "default",
          "inputDataField": "document"
        }
      },
      "id": "insert-to-qdrant",
      "name": "Insert to Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare success response\nconst domainId = $('Prepare Document').item.json.domainId;\nconst action = $('Prepare Document').item.json.action;\n\nreturn {\n  json: {\n    success: true,\n    message: `Domain ${action} successfully using native Qdrant node`,\n    domainId: domainId,\n    action: action,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Qdrant": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
