n8n-workflows/domain-manager-native-qdrant.json
{
  "name": "Domain Manager - Native Qdrant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manage-domain-native",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "manage-domain-native"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from webhook\nconst body = $input.item.json.body;\nconst { domain, schema, action } = body;\n\n// Generate a unique ID for this domain\nconst domainId = `domain_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Prepare the document for Qdrant\nconst document = {\n  pageContent: JSON.stringify({\n    domain: domain,\n    schema: schema,\n    timestamp: new Date().toISOString(),\n    action: action\n  }),\n  metadata: {\n    domain: domain,\n    action: action,\n    timestamp: new Date().toISOString(),\n    schema_fields: schema.length,\n    user_prompt: domain // This will be used for embedding\n  }\n};\n\nreturn {\n  json: {\n    document: document,\n    domainId: domainId,\n    userPrompt: domain,\n    action: action\n  }\n};"
      },
      "id": "prepare-document",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/embeddings",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'all-minilm', prompt: $json.userPrompt } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract embedding from Ollama response\nconst embeddingData = $input.item.json;\nconst embedding = embeddingData.embedding;\n\nif (!embedding || !Array.isArray(embedding)) {\n  throw new Error('Failed to generate embedding');\n}\n\n// Get the document from the previous node\nconst document = $('Prepare Document').item.json.document;\nconst domainId = $('Prepare Document').item.json.domainId;\n\n// Prepare the document with embedding for Qdrant\nconst documentWithEmbedding = {\n  ...document,\n  embedding: embedding\n};\n\nreturn {\n  json: {\n    document: documentWithEmbedding,\n    domainId: domainId,\n    embedding: embedding\n  }\n};"
      },
      "id": "process-embedding",
      "name": "Process Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "insertDocuments",
        "collectionName": "successful_schemas",
        "documentLoader": {
          "loader": "default",
          "inputDataField": "document"
        }
      },
      "id": "insert-to-qdrant",
      "name": "Insert to Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare success response\nconst domainId = $('Prepare Document').item.json.domainId;\nconst action = $('Prepare Document').item.json.action;\n\nreturn {\n  json: {\n    success: true,\n    message: `Domain ${action} successfully`,\n    domainId: domainId,\n    action: action,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Process Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Embedding": {
      "main": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Qdrant": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
