n8n-workflows/domain-manager-native-simple.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manage-domain-native-simple",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "manage-domain-native-simple"
    },
    {
      "parameters": {
        "jsCode": "// Prepare document for n8n Qdrant Vector Store\nconst body = $input.item.json.body;\nconst { domain, schema, action } = body;\n\n// Generate unique ID\nconst domainId = `domain_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Prepare document in the format expected by n8n Qdrant Vector Store\n// The node will automatically generate embeddings for the pageContent\nconst document = {\n  pageContent: `Domain: ${domain}\\nSchema: ${JSON.stringify(schema, null, 2)}\\nAction: ${action}`,\n  metadata: {\n    domain: domain,\n    action: action,\n    timestamp: new Date().toISOString(),\n    schema_fields: schema.length,\n    user_prompt: domain,\n    schema: JSON.stringify(schema),\n    domain_id: domainId\n  }\n};\n\nreturn {\n  json: {\n    document: document,\n    domainId: domainId,\n    action: action\n  }\n};"
      },
      "id": "prepare-document",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "successful_schemas",
          "mode": "list",
          "cachedResultName": "successful_schemas"
        },
        "options": {}
      },
      "id": "insert-to-qdrant",
      "name": "Insert to Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare success response\nconst domainId = $('Prepare Document').item.json.domainId;\nconst action = $('Prepare Document').item.json.action;\n\nreturn {\n  json: {\n    success: true,\n    message: `Domain ${action} successfully with native Qdrant node`,\n    domainId: domainId,\n    action: action,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [500, 500],
      "id": "embeddings-ollama",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "jmFnQptmLMNT8nwD",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [700, 500],
      "id": "default-data-loader",
      "name": "Default Data Loader"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Qdrant": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert to Qdrant",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "528341b2e86c53477b94f918c416779dab805188fc81ebe05aeea5067b309de6"
  }
}
