n8n-workflows/get-data-requests.json
{
  "name": "Get Data Requests (Admin)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/data-requests",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 300],
      "webhookId": "get-data-requests-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, topic, field_count, requested_record_count, schema_details, additional_notes, status, admin_notes, created_at, updated_at\nFROM data_requests\nORDER BY created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "fetch-requests",
      "name": "Fetch Data Requests",
      "type": "n8n-nodes-base.postgres",
      "position": [400, 300],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "Qj2oredMBiLhvTqE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [600, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Fetch Data Requests", "type": "main", "index": 0}]]
    },
    "Fetch Data Requests": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-20T00:00:00.000Z",
  "versionId": "1"
}

