n8n-workflows/get-domains-registry.json
{
  "name": "Get Domains Registry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-domains-registry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "get-domains-registry"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM domain_registry WHERE status = 'active' ORDER BY updated_at DESC;",
        "options": {}
      },
      "id": "get-domains",
      "name": "Get Domains from PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "Qj2oredMBiLhvTqE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const domains = $input.all().map(item => item.json);\n\nreturn {\n  json: {\n    success: true,\n    count: domains.length,\n    domains: domains\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Get Domains from PostgreSQL", "type": "main", "index": 0}]]
    },
    "Get Domains from PostgreSQL": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T00:00:00.000Z",
  "versionId": "1"
}

