n8n-workflows/submit-data-request.json
{
  "name": "Submit Data Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-data-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 300],
      "webhookId": "submit-data-request-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO data_requests (email, topic, field_count, requested_record_count, schema_details, additional_notes, status, created_at)\nVALUES (\n  '{{ $json.body.email }}',\n  '{{ $json.body.topic }}',\n  {{ $json.body.fieldCount || 0 }},\n  {{ $json.body.requestedRecordCount }},\n  '{{ $json.body.schemaDetails }}',\n  '{{ $json.body.additionalNotes }}',\n  'pending',\n  '{{ $json.body.timestamp }}'\n)\nRETURNING id, email, requested_record_count, created_at;",
        "options": {}
      },
      "id": "store-request",
      "name": "Store Request in Database",
      "type": "n8n-nodes-base.postgres",
      "position": [400, 300],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "Qj2oredMBiLhvTqE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, requestId: $json.id, message: 'Request submitted successfully' } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [600, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Store Request in Database", "type": "main", "index": 0}]]
    },
    "Store Request in Database": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-20T00:00:00.000Z",
  "versionId": "1"
}

