n8n-workflows/update-domain-fixed.json
{
  "name": "Update Domain - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-domain",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [50, 300],
      "webhookId": "update-domain-webhook-fixed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'all-minilm', prompt: $json.body.domain } }}",
        "options": {}
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6333/collections/successful_schemas/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  limit: 1000,\n  with_payload: true,\n  filter: {\n    must: [\n      {\n        key: 'user_prompt',\n        match: {\n          value: $('Webhook Trigger').item.json.body.domain\n        }\n      }\n    ]\n  }\n} }}",
        "options": {}
      },
      "id": "find-existing",
      "name": "Find Existing Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if domain exists and get the first match\nconst existingData = $input.item.json;\nconst domain = $('Webhook Trigger').item.json.body.domain;\nconst newSchema = $('Webhook Trigger').item.json.body.schema;\nconst embedding = $('Generate Embedding').item.json.embedding;\n\nlet existingPointId = null;\nif (existingData.result && existingData.result.points && existingData.result.points.length > 0) {\n  // Use the first matching point ID\n  existingPointId = existingData.result.points[0].id;\n}\n\nreturn [{\n  json: {\n    domain: domain,\n    schema: newSchema,\n    embedding: embedding,\n    existingPointId: existingPointId,\n    hasExisting: existingPointId !== null\n  }\n}];"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://host.docker.internal:6333/collections/successful_schemas/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  points: [\n    {\n      id: $json.existingPointId || (Date.now() + Math.floor(Math.random() * 1000)),\n      vector: $json.embedding,\n      payload: {\n        user_prompt: $json.domain,\n        schema: $json.schema,\n        rating: 'thumbs_up',\n        timestamp: new Date().toISOString(),\n        updated: true,\n        updated_at: new Date().toISOString()\n      }\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "upsert-qdrant",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst domain = $('Process Data').item.json.domain;\nconst hasExisting = $('Process Data').item.json.hasExisting;\n\nreturn [{\n  json: {\n    success: true,\n    message: hasExisting ? 'Domain updated successfully' : 'Domain created successfully',\n    domain: domain,\n    action: hasExisting ? 'updated' : 'created',\n    fieldCount: $('Process Data').item.json.schema.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Summary').item.json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Find Existing Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Domain": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
